
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
.f-size-cus{
	font-size: 18px;
	font-weight: bold;
	color: #3746EC;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.display-flexcustom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
html {
	/* width: 100%; */
	scroll-behavior: smooth;
	
}
body {

	/* position: relative; */
	/* width: 100%; */
	/* min-width: 851px; */
	
	/* box-shadow: 700px 0px 100px 100px rgb(243, 228, 230) inset; */
	font-family: 'Roboto Slab', serif !important;
	background-image: url("./images.profile.jpg") !important;
}
/* <!-- Navbar Start --> */
/* .f-color {
	color: black !important;
} */

body .fixed-top .logo {
	font-size: 24px;
	
}

body .fixed-top .logo:hover {
	font-size: 28px;
	
}
.nav-hover-cus:hover{
	font-weight: bold;
	font-size: 23px !important;
	
}
.btn-cus {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 120px;
	border-radius: 30px;
	border: none;
	/* box-shadow: 0px 20px 40px -13px blue; */
	box-shadow: 0px 20px 40px -13px blue;
	background-color: #3746EC;
	color: white;	
}

.btn-cus:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	height: 40px;
	width: 135px;
	border-radius: 30px;
	border: 1px solid blue;
	background: white;
	box-shadow: 0px 20px 40px -13px blue;
	/* background-color: blue; */
	color: var(--blue);

}

.center-cus {
	display: flex;
	
	align-items: center;
}

.profile-details h3 + h1, .profile-details h3+h1+div {
	color: #3746EC;
	font-size: 20px;
}

.profile-details h3 {
	color: green;
	font-size: 30px;
}

.profile-details h5, .profile-details h6 {
	font-size: 20px;
}

/* <!-- Navbar Start --> */


/* Profile Section Start*/
/* .profile-section {
	display: block;
	
} */

.img-border {
	/* border: 15px solid #3746EC !important; */
	/* box-shadow: 0px 10px 20px 0px gray; */
}
.profile-image {
	/* margin-top: 30%; */
	/* width: 40%; */
	/* float: right; */
	/* position: relative; */
}
.profile-details {
	/* margin-top: 12%; */
	/* width: 40%; */
	/* float: left; */
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	line-height: 200%;
}
/* Profile Section End */

/* About Me Section Start */
.about-me-section section p span + span {
	color: black;
	font-size: 38px;
	font-weight: bold;
}
.about-me-section section p + p {
	color: black;
	font-size: 22px;
	
}
.about-me-section section p + p + p{
	color: black;
	font-size: 25px;
	
}
.about-me-section section p + p + p {
	color: black;
	font-size: 22px;
	
}
.about-me-section section p span {
	color: black;
	font-size: 28px;
}
.tex-blue {
	color:#3746EC;
	font-weight: bold;
	font-size: 35px;
}

.skillTwo, .skillThree {
	border:3px solid #3746EC !important;
	border-radius: 10px;
	height: 200px;
	width: 84%;
	font-size: 14px;	
}

.skillOne {
    border:3px solid #3746EC !important;
	border-radius: 10px;
	height: 200px;
	width: 84% !important;
	font-size: 10px;
}

.card-left {
	/* margin-top: 22%; */
	/* float: left; */
	/* margin-left: 20%; */
}
.card-right {
	/* float: right; */
	/* margin-right: 20%; */
}
.about-me-section div div div h1 {
	color: #3746EC;
}

/* About Me Section End */

/* Projects Section Start */
.bg-custom {
	border: 2px solid #3746EC ;
	border-radius: 10px;
	color: var(--blue);
	background: white;
	height: 95%;
    width: 90%;
    margin: auto;
}

.bg-custom img {
	border: 1px solid #3746EC;
	border-radius: 10px;
	height: 300px;
	max-width: 400px;
}
.bg-custom2 {
	border: 2px solid #3746EC ;
	border-radius: 10px;
	color: var(--blue);
	background: white;
	height: 400px;
	
	
}

.bg-custom2 img {
	border: 1px solid #3746EC;
	border-radius: 10px;
	height: 300px;
	max-width: 400px;
}
.text-black {
	color: black;
}

#project div p {
    font-size: 14px;
}
/* Projects Section End */

/* Contact me section start */
.contact-me-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#contactme {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-form {
    margin-top: 40px;
    width: 90%;
	
    max-width: 500px;
    min-height: 330px;
    max-height: 520px;
    background-color: white;
	border: 1px solid #3746EC;
    display: block;
    border-radius: 7px;
    
overflow-y:auto;
}
.username-field{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.input-field, .label-field {
    font-size: 14px;
    width: 90%;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    padding: 4px;
    border-radius: 5px;
}
	.label-field{
		border-top: 1px solid #3746EC;
		border-left: 1px solid #3746EC;
		border-right: 1px solid #3746EC;
		font-weight: bold;
		margin-bottom: -5px;
		color: #3746EC;
	}
	.input-field {
		margin-top: -2px;
		font-weight:lighter;
		border-bottom: 1px solid #3746EC;
		border-left: 1px solid #3746EC;
		border-right: 1px solid #3746EC;
	}

	.btn-sign-in {
		width:90%;
		height:50px;
		background-color:#3746EC;
		border: none;
		border-radius: 7px;
		font-weight:lighter;
		font-size:large;
		margin-top: 10px;
		margin-bottom: 10px;
		color: #FFFFFF;
		font-size: 20px;
	}
	.btn-sign-in:hover {
		
		cursor: pointer;
		
		border: 1px solid blue;
		background: white;
		box-shadow: 0px 20px 40px -13px blue;
		/* background-color: blue; */
		color: var(--blue);
	}
	.btn-sign-in:active {
		background-color: #3c5393;
	}
/* contact me section end */

.floating-object1 {
	width: 100px;
	height: 50px;
	/* border: 1px solid gray; */
	left: 9%;
	border-radius: 15px;
	position: absolute;
	top: 4%;
	background-color: #f8f9fa;
	font-weight: bold;
	box-shadow: 0px 5px 20px 0px gray;
	z-index: 2;
}

.floating-object2 {
	width: 100px;
	height: 50px;
	/* border: 1px solid gray; */
	border-radius: 15px;
	position: absolute;
	top: 20%;
	left: 71%;
	background-color: #f8f9fa;
	box-shadow: 0px 5px 20px 0px gray;
	font-weight: bold;
	z-index: 1;
}
.floating-object3 {
	/* width: 100px;
	height: 50px; */
	/* border: 1px solid gray; */
	left: 70%;
	border-radius: 15px;
	position: absolute;
	top: 1%;
	
	
	z-index: 3;
}

@media screen and (max-width:991px) {
	.floating-object1 {
		
		left: 18%;
		
		top: 4%;
		
	}
	
	.floating-object2 {
		
		position: absolute;
		top: 25%;
		left: 71%;
		
	}
	.floating-object3 {
		
		left: 70%;
		
		top: 1%;
	
	}
	.img-border {
		height: 400px !important;
		width: 400px !important;
	}
	#project div p {
		font-size: 12px;
	}
}
@media screen and (max-width:767px) {
	.floating-object1 {
		
		left: 22%;
		
		top: 4%;
		
	}
	
	.floating-object2 {
		
		position: absolute;
		top: 40%;
		left: 62%;
		
	}
	.floating-object3 {
		
		left: 62%;
		
		top: 1%;
	
	}
	.img-border {
		height: 300px !important;
		width: 400px !important;
	}
}

@media screen and (max-width:575px) {
	.floating-object1 {
		
		left: 15%;
		
		top: 4%;
		
	}
	
	.floating-object2 {
		
		position: absolute;
		top: 37%;
		left: 62%;
		
	}
	.floating-object3 {
		
		left: 62%;
		
		top: 0%;
	
	}
	.img-border {
		height: 300px !important;
		width: 400px !important;
	}
}
@media screen and (max-width:393px) {
	.floating-object1 {
		
		left: 8%;
		
		top: 4%;
		
	}
	
	.floating-object2 {
		
		position: absolute;
		top: 20%;
		left: 69%;
		
	}
	.floating-object3 {
		
		left: 65%;
		
		top: 0%;
	
	}
	.img-border {
		height: 300px !important;
		width: 300px !important;
	}
}
